!!! 5
html(lang='en')
	head
			title committing/#{hackathon.hlid}/#{type}/#{category}
			link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/rickshaw.min.css')
			link(rel='stylesheet', href='/css/style.css')
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js').
			script(src='/js/d3.v2.js').
			script(src='/js/rickshaw.min.js').
	body
		.main
			header
				h1 
					a(href='/') committing
					/
					.vert
						.current #{type}
						.other
							-if (type != 'lines')
								a(href='/#{hackathon.hlid}/lines/#{category}') lines
							-if (type != 'commits')
								a(href='/#{hackathon.hlid}/commits/#{category}') commits
							-if (type != 'files')
								a(href='/#{hackathon.hlid}/files/#{category}') files
					/
					.vert
						.current #{category}
						.other
							-if (category != 'repos')
								a(href='/#{hackathon.hlid}/#{type}/repos') repos
							-if (category != 'users')
								a(href='/#{hackathon.hlid}/#{type}/users') users
				h2
					a(href='#{hackathon.url}') #{hackathon.name}
			#chart_container
				#y_axis
				#chart
			.sidebar
				#legend
				form#render_form.toggler
					input#line(type='radio', name='render', value='line', checked='checked')
					label.lines(for='line') line
					br
					input#scatterplot(type='radio', name='render', value='scatterplot')
					label.stack(for='stack') scatterplot
		
		if name
			script.
				var dataURL = '/api/#{hackathon.hlid}/#{type}/#{category}/#{name}';
		else
			script.
				var dataURL = '/api/#{hackathon.hlid}/#{type}/#{category}';
		script(src='/js/chart.js').