doctype html
html(lang='en')
	head
			title committing/#{hackathon.hlid}/#{type}/#{category}
			link(href='//fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/rickshaw.min.css')
			link(rel='stylesheet', href='/css/style.css')
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
			script(src='/js/d3.v2.js')
			script(src='/js/rickshaw.min.js')
	body
		.main
			header
				h1
					a(href='/') committing
					span /
					.vert
						.current #{type}
						.other
							-if (type != 'lines')
								a(href='/hackathons/#{hackathon.hlid}/lines/#{category}') lines
							-if (type != 'commits')
								a(href='/hackathons/#{hackathon.hlid}/commits/#{category}') commits
							-if (type != 'files')
								a(href='/hackathons/#{hackathon.hlid}/files/#{category}') files
					span /
					.vert
						.current #{category}
						.other
							-if (category != 'repos')
								a(href='/hackathons/#{hackathon.hlid}/#{type}/repos') repos
							-if (category != 'users')
								a(href='/hackathons/#{hackathon.hlid}/#{type}/users') users
					-if (typeof(name) !== 'undefined') {
						span /
						.vert
							.current #{name}
					-}
				h2
					a(href='#{hackathon.url}') #{hackathon.name}
			
			article
				ul
					each commit in commits
						li
							p
								span /#{commit.elapsed} min
								span /
									a(href='https://github.com/#{commit.owner}/#{commit.repo}') #{commit.repo}
								span /
									a(href='https://github.com/#{commit.committer}') #{commit.committer}
								span /
									a.message(href='https://github.com/#{commit.owner}/#{commit.repo}/commit/#{commit.sha}') #{commit.message}